[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
gunicorn = "*"
pydantic = "*"
aioredis = "*"
bleach = "*"
python-dotenv = "*"
loguru = "*"
pydantic-settings = "*"
manticoresearch = {ref = "7.0.0", git = "https://github.com/manticoresoftware/manticoresearch-python.git"}
aiofiles = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
