<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leaksearch API</title>
    {% include 'styles.html' %}
</head>
<body>
<body class="container mt-2">
    <div class="card">
        <div class="card-header">
            {% include 'navigation.html' %}
        </div>
        <div class="card-body p-2">
            {% for method in data %}
            <div class="card p-2 mb-3 mx-1 api-desc">
                <p class="card-text">
                    {{ method.http_method }}: <code>{{ method.prefix + method.path }}</code>
                </p>
                <ul>
                    {% if method.parameters %}
                        {% for param in method.parameters %}
                        <li><strong class="query">{{ param.name }}</strong>: {{ param.description }}</li>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                </ul>
                <!-- <p style="border-bottom: 1px solid;"></p> -->
                {% for response in method.json_responses %}
                <textarea class="response w-100 mb-1" rows="4" readonly>{{ response }}</textarea>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'scripts.html' %}
</body>
</html>
