<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leaksearch API</title>
    {% include 'styles.html' %}
</head>
<body>
<body class="container mt-2">
    <div class="card">
        <div class="card-header">
            {% include 'navigation.html' %}
        </div>
        <div class="card-body p-2">
            <div class="card p-2 mb-1">
                <p class="card-text">
                    GET: <code>/api/v1/search?<strong>q</strong>=&amp;<strong>t</strong>=&amp;<strong>p</strong>=&amp;<strong>mm</strong>=&amp;<strong>l</strong>=</code>
                </p>
                <p>Поиск с параметрами как на вкладке /search</p>
                <ul>
                    <li><strong class="query">q</strong>: query string</li>
                    <li><strong class="query">t</strong>: table</li>
                    <li><strong class="query">p</strong>: portion (page)</li>
                    <li><strong class="query">mm</strong>: max matches (max search results)</li>
                    <li><strong class="query">l</strong>: limit of portion (page)</li>
                </ul>
            </div>
            <div class="card p-2 mb-1">
                <p class="card-text">
                    GET: <code>/api/v1/unloading/start?<strong>t</strong>=&amp;<strong>q</strong>=</code>
                </p>
                <p>Запуск задачи на загрузку в фоновом режиме</p>
                <ul>
                    <li><strong class="query">q</strong>: query string</li>
                    <li><strong class="query">t</strong>: table</li>
                </ul>
            </div>
            <div class="card p-2 mb-1">
                <p class="card-text">
                    GET: <code>/api/v1/unloading/status/<strong>{task_id}</strong></code>
                </p>
                <p>Проверка статуса задачи</p>
                <ul>
                    <li><strong class="query">task_id</strong>: id задачи, возращаемый в методе <code>/api/v1/unloading/status</code></li>
                </ul>
            </div>
            <div class="card p-2 mb-1">
                <p class="card-text">
                    GET: <code>/api/v1/unloading/data/<strong>{task_id}.{ext}</strong></code>
                </p>
                <p>Выгрузка готовых задач</p>
                <ul>
                    <li><strong class="query">task_id</strong>: id задачи, возращаемый в методе <code>/api/v1/unloading/status</code></li>
                    <li><strong class="query">ext</strong>: формат выгружаемого файла. (<code>json</code>|<code>csv</code>)</li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% include 'scripts.html' %}
</body>
</html>
