<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="css/hack-styles.css?v=119">
<link rel="stylesheet" type="text/css" href="css/lds.css">
<link rel="stylesheet" type="text/css" href="css/ball.css?v=1">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">